body {
    background-color: black;
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.main-wrapper {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.logo-img {
    height: 80px;
    margin-top: 5rem;
    margin-bottom: 2rem
}

.main-wrap {
    background-color: rgb(12, 62, 168);
    padding: 2rem 2.5rem;
    border-radius: .5rem;
    /* margin-top: 7rem; */
}

.main-wrap h1 {
    text-align: center;
    font-size: 2.5rem;
    color: rgb(255, 255, 255);
}

.login-form {
    display: flex;
    flex-direction: column;
    gap: 1.5em;
}

.login-form input{
    font-size: 1.3rem;
    padding: .5rem;
    border: solid 1px white;
    border-radius: .5rem;
}

.login-form p {
    text-align: center;
}

.login-form a{
    color: white;

}

.login-btn {
    background-color: green;
    color: white;
    font-size: 1.3rem;
    padding: .6rem 0;
    border: none;
}

.signin-btn {
    background-color: green;
    color: white;
    font-size: 1.3rem;
    padding: .6rem 0;
    border: none;
}