body {
    background-color: rgb(43, 42, 42);
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    display: flex;
    justify-content: center;
}

.body-main {
    margin: 0;
    width: 1200px;
    height: 100%;
    background-color: black;
}

/* NAVIGATION BAR STYLING*/

.elden-ring-logo {
    width: 120px;
    height: 70px;
    border-radius: 1rem;
}

.logo-img-home-layout {
    height: 60px;
}

.nav-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 3rem;
    background-color: black;
}

.nav-section-1 {
    display: flex;
    gap: 1rem;
    align-items: center;
}

.logo-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.nav-options {
    display: flex;
    gap: 1rem;
    list-style: none;
}

.nav-name {
    font-size: 3rem;
    margin: 0;
}

.nav-email {
    font-size: 1.2rem;
    margin: 0;
}

.nav-options a, .logout-btn{
    font-size: 2rem;
    color: white;
    text-decoration: none;
}

/* LOGOUT POPUP STYLE */

.logout-popup-wrapper {
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    z-index: 1000;

    position:fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgb(0, 0, 0, 0.6);
}

.logout-popup-wrapper.show {
    display: flex;
}

.logout-popup-wrap {
    background-color: black;
    padding: 1rem;
    border: solid 2px white;
    border-radius: .5rem;
}


.logout-options-wrapper {
    display: flex;

    justify-content: space-around;
}

.logout-popup-wrap {
    text-align: center;
    font-size: 2rem;
    width: 200px;
}

.logout-opt {
    background-color: black;
    border: none;
    color: white;
    cursor: pointer;
    font-size: 1.8rem;

    transition: all ease-in-out 500ms;
}

.logout-opt:hover {
    border-bottom: solid 1px white;
}




